.navContainer {
  display: flex;
  align-content: stretch;
  overflow: hidden;
}

.navItem {
  min-height: 100vh;
  flex-basis: var(--space-xl);
  min-width: var(--space-xl);
  cursor: pointer;
  transition: all 0.8s ease;
}

.active {
  flex-basis: 100%;
  cursor: default;
}

.title {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  top: 50%;
  transform: translateY(-50%);
  margin-left: var(--space-md);
  font-size: var(--h6);
  opacity: 0;
  transition: all 0.2s linear;
  position: fixed;
  font-weight: bold;
}

.logo {
  margin-top: var(--space-lg);
  opacity: 0;
}

.visible {
  opacity: 1;
}
