* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--text);
  line-height: var(--text-line-height);
}

h1,
.h1 {
  font-size: var(--h1);
  line-height: var(--h1-line-height);
}

h2,
.h2 {
  font-size: var(--h2);
  line-height: var(--h2-line-height);
}

h3,
.h3 {
  font-size: var(--h3);
  line-height: var(--h3-line-height);
}

h3,
.h3 {
  font-size: var(--h3);
  line-height: var(--h3-line-height);
}

h4,
.h4 {
  font-size: var(--h4);
  line-height: var(--h4-line-height);
}

h5,
.h5 {
  font-size: var(--h5);
  line-height: var(--h5-line-height);
}

h6,
.h6 {
  font-size: var(--h6);
  line-height: var(--h6-line-height);
}

.small {
  font-size: var(--small);
  line-height: var(--small-line-height);
  margin-bottom: var(--space-md);
}

.mini {
  font-size: var(--mini);
  line-height: var(--mini-line-height);
  margin-bottom: var(--space-md);
}

p,
.p {
  margin-bottom: var(--space-md);
}

h1,
h2,
.h1,
.h2 {
  margin-bottom: var(--space-lg);
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-bottom: var(--space-md);
}

.visible {
  opacity: 1;
}
